

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');



*{
    margin: 0px;
    padding: 0px;
    
}

body{
    font-family: "Raleway";
}
.header{
    display: flex;
    background-color: white;

}
.header img {
    width: 78px;
    margin-left: 102px;
    margin-top:10px;
    margin-bottom: 10px;
}
.header h2{
    width: 98px;
    height: 40px;
    margin-top: 28px;
    font-size: 33.7px;
}
#img-6{
    display:none;
}

.header ul{
    list-style: none;
    margin-left:650px;
    display: flex;
    gap: 58px;
    margin-top: 35px;
    font-size: 16px;
}
.header span{
    color: #7C4EE4;
}
.header button{
    height: 56px;
    width: 180px;
    margin-top: 15px;
    margin-left: 38px;
    padding: 16px 48px;
    border: none;
    background-color: #7C4EE4;
    color: white;
    border-radius: 8px;
    font-size: 14px;
}

/* main */

.main {
    display: flex;
    height: 300px;
    background-color: #7C4EE4;
}
.main-l h4{
    color: white;
    margin-left: 120px;
    margin-top: 136px;
    font-size: 16px;
    width: 126px;
    height: 24px;
}
.main-l h1{
    width: 560px;
    height: 172px;
    font-size: 60px;
    color: white;
    margin-left: 120px;
    margin-top: 45px;
}
.main-l p{
    color: white;
    width: 416px;
    height: 96px;
    font-size: 16px;
    margin-left: 120px;
    margin-top: 28px;
}
.main-l button{
    background-color: white;
    padding: 16px 48px;
    border: none;
    margin-left: 120px;
    margin-top: 64px;
    border-radius: 8px;
    font-size: 16px;
    align-items: center;
}
.main img{
    width: 608px;
    height: 556px;
    border: none;
    border-radius: 16px;
    margin-top: 122px;
    margin-bottom: 98px;
    margin-left: 60px;
}
/* footer */
.header-2 {
    display: flex;
}
.header-2 h1{
    width: 200px;
    height: 150px;
    font-size: 35px;
    color: #333333;
    margin-left: 112px;
    margin-top: 630px;
}
.header-2 button{
    background-color:#7C4EE4;
    font-size: 14px;
    margin-top: 630px;
    margin-left:725px;
    margin-right: 96px;
    padding: 16px 48px;
    text-align: center;
    border: none;
    border-radius: 8px;
    gap: 10px;
    color: white;
}
.main-2{
    display: flex;
    height: 700px;
    margin-top: 190px;

}
.main-2 img{
    width: 600px;
    height: 500px;
    margin-top: 90px;
    margin-left: 112px;
    border: none;
    border-radius: 16px;
 }


.main-r h5{
    margin-top: 106px;
    margin-left:56px;
    font-weight: 700;
}

.main-r span{
    margin-left: 10px;
    color: #999999;
    font-size: 12px;
}
.main-r h2{
    margin-top: 50px;
    margin-left:56px;
    width: 600px;
    font-size: 32px;
}
.main-r p{
    margin-left:56px;
    margin-top: 40px;
    width: 450px;
    height: 120px;
    color: #666666;
}

.main-r button{
    margin-left: 56px;
    margin-top: 100px;
    padding: 10px 28px;
    text-align: center;
    border: 1px solid #7C4EE4;
    background-color: white;
    border-radius: 8px;
    color: #7C4EE4;
    font-size: 15px;

}
/* the othe part */

.post{
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    
    
}
.image img{
    width: 360px;
    height: 300px;
    
    border-radius: 16%;
}
.image h5{
    font-size: 10px;
    margin-top: 30px;
}
.image span{
    color: #999999;
    padding-left: 10px;
    
}
.image h1{
    font-size: 24px;
    margin-top: 20px;
}
.image p{
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 30px;

}
.image a{

    color: #7C4EE4;
    font-size: 30px;
    
}
.post-text{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    
}
.post-text h3{
    margin-top: 40px;
    /* padding-left: 30px; */
    font-size: 40px;
    margin-left: 70px;

}
.post-text button{
    background-color: #7C4EE4;
   margin-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 20px;
    border-radius: 8px;
    border: none;
    margin-right: 92px;
    color: white;

}

   

.view img{
   

    width: 360px;
    height: 300px;
    border-radius: 16%;
    margin-left: 45px;
   
    
}
.view h5{
    font-size: 10px;
    margin-top: 30px;
    margin-left: 70px;
}
.view span{
    color: #999999;
    padding-left: 10px;
}
.view h1{
    font-size: 24px;
    margin-top: 20px;
    margin-left: 70px;
}
.view p{
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 70px;

}
.view a{
    font-size: 30px;
    margin-left: 70px;
}
.popular {
    display: flex;
    justify-content: space-between;

}
.popular{
    margin-bottom: 60px;
}
/* footer */
.footer{
   
    height: 534px; 
    background-color: #7C4EE4;
    padding: 25px 40px;
    text-align: center;


}
.footer h4{
    
    font-size: 52px;
    font-weight: 700;
    
    color: white;
    margin-top: 150px;
 
}
.footer input{
   margin-top: 40px;
   font-size: 16px;
   width: 320px;
   height: 56px;
   padding: 12px;
   border-radius: 16px;
   border: none;
  
}
.footer button{
    width: 166px;
    height: 56px;
    border-radius: 16px;
    background-color: #7C4EE4;
    border: none;
    border: 1px #fff solid;
    color: #fff;

}
.footer p{
    color: #fff;
    margin-top: 40px;
    font-size:16px ;
    /* width: 400px;
    text-align: center; */
    

}
.last-photo{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.nav ul{
   display: flex;
   justify-content: center;
   gap: 60px;
   margin-top: 20px;
   list-style: none;
}
.icon{
  color: #7C4EE4;
    height: 100px;
   margin-top: 30px;
   padding-top: 12px;
   text-align: center;
    
}
.icon i{
    font-size: 30px;
    padding: 8px;
    
}
.last p{
    text-align: center;
    font-size: 16px;
    margin-top: 30px;
}
.last hr{
    border: 1px #7C4EE4 solid;
}
/* the mibile view */


@media screen and (max-width : 600px) {
    .header{
        padding-bottom: 20px;
    }
    .header img {
        margin-left: -0px;
        width: 58px;
    }
    .header h2{
        margin-top: 20px;
    }
    .header ul{
        display: none;
    }
    .header button{
        display: none;
    }
    #img-6{
        margin-top: 20px;
        margin-left: 200px;
        height: 40px;
        width: 40px;
        display: block;
    }
    .main{
        height: 150px;
        display: block;
        padding-top:20px ;
    }
    .main h4{
        margin-top: 20px;
        margin-left: 27px;
    }
    .main h1{
        margin-left: 26px;
        margin-top: 0px;
        font-size: 36px;
        width: 200px;
        margin-bottom: 0px;
    }
    .main p{
        margin-left:27px;
        margin-top: -20px;
        width: 250px;
        font-size: 15px;
    }
    .main button{
        margin-left:27px;
        margin-top: 0px;
        padding: 10px 30px;
        font-size: 15px;
    }
    .main img {
        width: 408px;
        height:306px;
        margin-left: 20px;
        margin-top: 50px;
    }
  /* footer-2 */
    .footer h1{
        margin-left: -20px;
        font-size: 25px;
        margin-bottom: 0px;
    }
    .footer button{
        margin-left: 100px;
        padding: 20px 50px;
        font-size: 17px;
        padding: 0px 40px;
    }
    .main-2 {
        display: block;
        
    }
    .main-2 img{
        width: 350px;
        height: 250px;
        margin-top: -20px;
        margin-left: 20px;
    }
    .main-r h5{
        margin-top: 30px;
        font-size: 8px;
        margin-left: 24px;

    }
    .main-r h2{
        margin-top: 20px;
        margin-left: 20px;
        font-size: 17px;
        width:350px;
    }
    .main-r p{
        margin-top: 20px;
        margin-left: 20px;
        font-size: 11px;
        width: 300px;
    }
    .main-r  button{
        margin-left: 20px;
        margin-top: -40px;
        border: none;
        border-radius: 0%;
        border-bottom:  solid #7C4EE4 ;
        font-size: 20px;
        padding: 0px 20px;
    }
    /* boste part */



    .post{
        display: block;
        margin-left: -25px;
    }
    .post a{
        font-size: 20px;
        /* margin-top: ; */
    }
  .image{
    margin-left: 15px;
  }
    .post-text h3{
        margin-top: 50px;
        margin-left: 15px;
        font-size: 30px;
    }
    .post-text button{  
        padding: 30px 30px;
        height: 40px;
        margin-right: 30px;
        padding: 15px 30px;
        text-align: center;

    }
    .popular{
        display: block;
        margin-left: -20px;
        
    }
    .view img{
        border-radius: 10px;
        margin-top: 20px;
    }
    .view h5{margin-left: 10px;
margin-left: 50px;
    }
    .view h1{
        font-size: 20px;
margin-left: 50px;
    }
    .view p{
margin-left: 50px;
    }
    .view a{
        margin-left: 50px;
        font-size: 20px;
        margin-bottom: 20px;
    }
.footer{}

    .footer h4{
        font-size: 30px;
        margin-top: 20px;
    }
    .Form{
        display: flex;
    }
    .Form input{
        margin-left: -20px;
        height: 30px;
        /* padding-left: 20px; */
        
    }
    .Btn{
        margin-top: 35px;
        margin-left: 30px;
        height: 20px;
    }

    
 
} 